In [15]:
import pandas as pd
import numpy as np
import json
import os
from src.utils import check_dir

In [16]:
BASE_PATH = "../data"
TRAIN_PATH = os.path.join(BASE_PATH, "train")

SAVE_PATH = "data"
TRAIN_SAVE_PATH = os.path.join(SAVE_PATH, "train")

In [17]:
train_ratings_path = os.path.join(TRAIN_PATH, 'train_ratings.csv')
train_ratings = pd.read_csv(train_ratings_path)

item_ids = train_ratings['item'].unique()
num_item = len(item_ids)

#item_id to index
item2idx = pd.Series(data=np.arange(len(item_ids))+1, index=item_ids)
idx2item = pd.Series(data=item_ids, index=np.arange(len(item_ids))+1)

In [18]:
train_ratings

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [19]:
# saving idx2item json
check_dir(SAVE_PATH)
idx2id_path = os.path.join(TRAIN_SAVE_PATH, 'idx2item.json')
idx2item.to_json(idx2id_path)

In [20]:
# make indexing data
train_ratings = pd.merge(train_ratings, pd.DataFrame({'item': item_ids, 'item_idx': item2idx[item_ids].values}), on='item', how='inner')
train_ratings.sort_values(['user', 'time'], inplace=True)
del train_ratings['item']

train_ratings = train_ratings.reset_index(drop=True)
train_ratings = train_ratings[['user', 'item_idx', 'time']]

train_ratings = train_ratings.rename(columns={'item_idx': 'item'})

In [ ]:
# saving idxing data
idx_data_path = os.path.join(TRAIN_SAVE_PATH, 'train_ratings.csv')
train_ratings.to_csv(idx_data_path, index=False)